.navbar-nav{
    background-color: white;
    display: flex;
   justify-content: flex-end;
 
}
.nav-link{
    position: relative;
    left: 533px;
    
}
.my-class{
    margin: 30px;
}
.container-fluid{
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}
.cards{
    width: 165px;
    height: 150px;
   border-color: #f9f9ff;
    border: 1px solid;
    text-align: center;
   box-shadow: 1px 1px 1px #aaaaaa;
}
.cardsdiv{
    display: flex;
    gap: 30px;
}
.herosection{
   width: 1280px;
    height: 700px;
    background-image: url(./public/heroimg.webp);
    padding-top: 5rem;
    padding-left: 5rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    

}
.hero4 >h2{
    text-align: center;
    font-weight: bold;
    font-size: 35px;

}
.hero4{
    text-align: center;
}


.herosec01{
    padding-top: 200px;
    margin-right: 150px;
    width: 400px;
    height: 500px;
    text-align: start;
    

}

.selector{
    width: 300px;
    height: 42px;
    margin: 0px 0px 10px;
    padding: 0px 30px 0px 19px ;
    background-color: #f9f9ff;
    border: none;
    outline: 1px black;
}
.option1{
    width: 298px;
    height: 40px;
    color: #aaaaaa;
    background-color: #f6f6f6;
    padding: 0px 29px 0px 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
}
.herobutton{
    width: 150px;
    height: 50px;
    background-color: rgb(236, 33, 101);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: bold;
    border: none;
    margin-top: 20px;
}
.herobutton:hover{
    background-image: url(./public/heroimg.webp);
    

}
 .herobutton1{
        width: 150px;
        height: 50px;
        background-color: rgb(236, 33, 101);
        outline: none;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;
        font-weight: bold;
        border: none;
        
}
.herodiv1{
    width: 360px;
    height: 584px;
    background-color:#ffffff;
    border-radius: 10px;
    box-shadow: 02px 02px 02px 02px;
    margin-top: 172px;
    padding: 45px 30px;
   

}
.herodiv1>h2{
    width: 300px;
    height: 21px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   font-size: 23px;
   font-weight: bolder;
  

}
.herosec3{
    width: 1280px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
   margin-top: 300px;
   margin-left: 50px;

}
.myclass{
    height: 100px;
    padding: 120px;

}
.card01{
    width: 360px;
   border-radius: 10px;
   border: #aaaaaa solid 1px;
   
    
}
.mini-button > button{
    width: 80px;
    height: 56px;
    border: none;
   background-color: #f9f4f4;
   color: #777777;
  margin-bottom: 30px;
}
.footercard{
    display: flex;
    justify-content: space-between
}
.cardsdiv01{
    display: flex;
    justify-content: space-evenly;
    width: 1280px;
    height: 520px;
    margin-top: 80px;
}
.card-center-div{
    padding: 0px 15px 15px;
}

.sec_nd_last{
    width: fit-content;
    height: 616px;
    background-image: url(./public/testi-bg.jpg);
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 50px;
}
.sec_last_child{
    padding-top: 200px;
}

.sec_last_child_1{
    border: white 1px solid;
    height: 460px;
    margin-top: 80px;
    padding-top: 50px;
    text-align: center;
    
    
}
.thirdlast{
    height: 400px;
    margin-top: 100px;
    text-align: center;
}
.thirdlast h2{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.herobutton2{
    width: 150px;
    height: 50px;
    background-color: rgb(236, 33, 101);
    outline: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: bold;
    border: none;     
    position: relative;
    bottom: -200px ;
    left: 50px;
   
    
}
.herobutton3{
    width: 150px;
    height: 50px;
    background-color: rgb(236, 33, 101);
    outline: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: bold;
    border: none;  
    position: relative;
    bottom: -200px ;
    left: 50px;
      
}
.herobutton4{
    width: 150px;
    height: 50px;
    background-color: rgb(236, 33, 101);
    outline: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: bold;
    border: none;    
    position: relative;
    bottom: -200px ;
    left: 50px;
    
}
.herobutton5{
    width: 150px;
    height: 50px;
    background-color: rgb(236, 33, 101);
    outline: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: bold;
    border: none;   
    position: relative;
    bottom: -200px ;
    left: 50px;
     
}
.foterimg{
    display: flex;
    height: 300px;
    justify-content: space-evenly;
}

.foterimgchild1{
    background-image: url(./public/cities-1.jpg.webp);
    background-repeat: no-repeat;
    width: 262px;
    height: 269px;
}

.foterimgchild2{
    background-image: url(./public/cities-2.jpg.webp);
    background-repeat: no-repeat;
    width: 262px;
    height: 269px;
}
.foterimgchild3{
    background-image: url(./public/cities-3.jpg.webp);
    background-repeat: no-repeat;
    width: 262px;
    height: 269px;
}
.foterimgchild4{
    background-image: url(./public/cities-4.jpg.webp);
    background-repeat: no-repeat;
    width: 262px;
    height: 269px;
}
.fourthlast{
    text-align: center;
}

.fivethlast{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
  
}


.fivethlastchild:hover{
 background-color: rgb(239, 41, 80);
}





.sixlast{
    display: flex;
    justify-content: space-evenly;


}

.backgroundcolar{
    background-color: #dcdcdc;
    height: 600px;
    
}
.fivethlastchild{
    width: 360px;
    height: 200px;
    background-color: white;
    border: #dcdcdc 1px solid;
    border-radius: 10px;
    text-align: center;
   padding-top: 20px;
   
}

.sevenlast{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    
}
.sevenlast > h2 > p {
    word-wrap: break-word;
    width: 10px;
   
}
.sevenlastimg{
    display: flex;
    justify-content: space-evenly;
}

.lastdiv{
    display: flex;
    justify-content: space-around;
}
.lastdivchild{
    width: 262px;
    height: 189px;
}

















@media screen and (max-width:680px) {
    .herosection{
        flex-direction: column;
    }
    .herosec3{
        flex-direction: column;
    }
    
}